<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<jmxConfigurator />

	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/server/server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/server/server-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %mdc{client} [%X{TRACE_LOG_ID}] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/server/server-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/server/server-error-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>50MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{TRACE_LOG_ID}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 交易日志单独打印 start -->
	<appender name="TRADE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/trade/trade.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/trade/trade-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{TRACE_LOG_ID}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="TRADE_LOG" level="INFO" additivity="false">
		<appender-ref ref="TRADE_LOG" />
	</logger>
	<!-- 交易日志单独打印 end -->

	<!-- 定时日志单独打印 start -->
	<appender name="QUARTZ_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/quartz/quartz.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/quartz/quartz-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{TRACE_LOG_ID}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="QUARTZ_LOG" level="INFO" additivity="false">
		<appender-ref ref="QUARTZ_LOG" />
	</logger>
	<!-- 定时日志单独打印 end -->

	<root level="DEBUG">
		<!-- 生产需要关闭控制台日志，不然都输出到 catalina.out 中了 -->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERROR" />
	</root>
</configuration>