<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jl.cp.mapper.SsqBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jl.cp.entity.SsqBaseInfoDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="refernumber" property="refernumber" jdbcType="VARCHAR" />
    <result column="opendate" property="opendate" jdbcType="DATE" />
    <result column="issueno" property="issueno" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="saleamount" property="saleamount" jdbcType="VARCHAR" />
    <result column="totalmoney" property="totalmoney" jdbcType="VARCHAR" />
    <result column="prize" property="prize" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, create_user, update_time, update_user, version, refernumber, opendate,
    issueno, number, saleamount, totalmoney,prize
  </sql>

  <select id="findListByMap" parameterType="map" resultType="com.jl.cp.entity.biz.SsqBaseInfoBizDO">
    SELECT refernumber,COUNT(1) as 'number' FROM ssq_base_info WHERE id IN (
    SELECT id-1 FROM `ssq_base_info` WHERE refernumber = #{refernumber}
    ) AND issueno &gt;= #{statIssueno} AND issueno &lt;= #{endIssueno}
    GROUP BY refernumber ORDER BY issueno DESC;
  </select>

</mapper>