<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jl.cp.mapper.SsqDetailInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jl.cp.entity.SsqDetailInfoDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
    <result column="issueno" property="issueno" jdbcType="VARCHAR" />
    <result column="a_qiu" property="aQiu" jdbcType="VARCHAR" />
    <result column="a_pianyi" property="aPianyi" jdbcType="VARCHAR" />
    <result column="a_daxiao" property="aDaxiao" jdbcType="VARCHAR" />
    <result column="a_danshuang" property="aDanshuang" jdbcType="VARCHAR" />
    <result column="a_yushu" property="aYushu" jdbcType="VARCHAR" />
    <result column="a_wuxing" property="aWuxing" jdbcType="VARCHAR" />
    <result column="b_qiu" property="bQiu" jdbcType="VARCHAR" />
    <result column="b_pianyi" property="bPianyi" jdbcType="VARCHAR" />
    <result column="b_daxiao" property="bDaxiao" jdbcType="VARCHAR" />
    <result column="b_danshuang" property="bDanshuang" jdbcType="VARCHAR" />
    <result column="b_yushu" property="bYushu" jdbcType="VARCHAR" />
    <result column="b_wuxing" property="bWuxing" jdbcType="VARCHAR" />
    <result column="c_qiu" property="cQiu" jdbcType="VARCHAR" />
    <result column="c_pianyi" property="cPianyi" jdbcType="VARCHAR" />
    <result column="c_daxiao" property="cDaxiao" jdbcType="VARCHAR" />
    <result column="c_danshuang" property="cDanshuang" jdbcType="VARCHAR" />
    <result column="c_yushu" property="cYushu" jdbcType="VARCHAR" />
    <result column="c_wuxing" property="cWuxing" jdbcType="VARCHAR" />
    <result column="d_qiu" property="dQiu" jdbcType="VARCHAR" />
    <result column="d_pianyi" property="dPianyi" jdbcType="VARCHAR" />
    <result column="d_daxiao" property="dDaxiao" jdbcType="VARCHAR" />
    <result column="d_danshuang" property="dDanshuang" jdbcType="VARCHAR" />
    <result column="d_yushu" property="dYushu" jdbcType="VARCHAR" />
    <result column="d_wuxing" property="dWuxing" jdbcType="VARCHAR" />
    <result column="e_qiu" property="eQiu" jdbcType="VARCHAR" />
    <result column="e_pianyi" property="ePianyi" jdbcType="VARCHAR" />
    <result column="e_daxiao" property="eDaxiao" jdbcType="VARCHAR" />
    <result column="e_danshuang" property="eDanshuang" jdbcType="VARCHAR" />
    <result column="e_yushu" property="eYushu" jdbcType="VARCHAR" />
    <result column="e_wuxing" property="eWuxing" jdbcType="VARCHAR" />
    <result column="f_qiu" property="fQiu" jdbcType="VARCHAR" />
    <result column="f_pianyi" property="fPianyi" jdbcType="VARCHAR" />
    <result column="f_daxiao" property="fDaxiao" jdbcType="VARCHAR" />
    <result column="f_danshuang" property="fDanshuang" jdbcType="VARCHAR" />
    <result column="f_yushu" property="fYushu" jdbcType="VARCHAR" />
    <result column="f_wuxing" property="fWuxing" jdbcType="VARCHAR" />
    <result column="sum_value" property="sumValue" jdbcType="VARCHAR" />
    <result column="tail_sum_value" property="tailSumValue" jdbcType="VARCHAR" />
    <result column="san_section" property="sanSection" jdbcType="VARCHAR" />
    <result column="si_section" property="siSection" jdbcType="VARCHAR" />
    <result column="qi_section" property="qiSection" jdbcType="VARCHAR" />
    <result column="daxiao_ratio" property="daxiaoRatio" jdbcType="VARCHAR" />
    <result column="danshuang_ratio" property="danshuangRatio" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, create_user, issueno, a_qiu, a_pianyi,
    a_daxiao, a_danshuang, a_yushu, b_qiu, b_pianyi, b_daxiao, b_danshuang, b_yushu, 
    c_qiu, c_pianyi, c_daxiao, c_danshuang, c_yushu, d_qiu, d_pianyi, d_daxiao, d_danshuang, 
    d_yushu, e_qiu, e_pianyi, e_daxiao, e_danshuang, e_yushu, f_qiu, f_pianyi, f_daxiao, 
    f_danshuang, f_yushu, sum_value, tail_sum_value, san_section, si_section, qi_section,
    daxiao_ratio, danshuang_ratio,a_wuxing,b_wuxing,c_wuxing,d_wuxing,e_wuxing,f_wuxing
  </sql>

  <select id="selectListByLimit" parameterType="map" resultMap="BaseResultMap">
        select
    <include refid="Base_Column_List" />
        from ssq_detail_info 
    <if test="issueno != null">
      where
      issueno &lt;= #{issueno}
    </if>
    order by issueno desc limit 0,200;
  </select>


  <select id="statYuShuInfo" parameterType="map" resultType="com.jl.cp.dto.StatYuShuDTO">
    <![CDATA[
        SELECT
          yuShu,countYuShu
        FROM
          (SELECT
            a.${columnNameYuShu} yuShu,
            COUNT(a.${columnNameYuShu}) countYuShu
          FROM
            (SELECT
              *
            FROM
              ssq_detail_info
            WHERE id IN
              (SELECT id + 1 FROM ssq_detail_info WHERE ${columnName} = '${columnValue}' and issueno <= ${issueno})
            ORDER BY issueno DESC
            LIMIT 0, 15) a
          GROUP BY a.${columnNameYuShu}) b
        ORDER BY b.countYuShu DESC
        ]]>
  </select>

  <select id="currentStatYuShuInfo" parameterType="map" resultType="com.jl.cp.dto.StatYuShuDTO">
    <![CDATA[
        select
          yuShu,
          countYuShu
        from (
        SELECT
          b.${columnName} yuShu,count(b.${columnName}) countYuShu
        FROM
           (SELECT * FROM ssq_detail_info WHERE issueno <= ${issueno} ORDER BY issueno DESC LIMIT 0, 15)b GROUP BY b.${columnName}
        )c ORDER BY c.countYuShu DESC
        ]]>
  </select>


  <select id="findListByIdAddOne" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ssq_detail_info
    where
    id in (select id+1 from ssq_detail_info
    <where>
      <if test="issueno != null and issueno != ''">
        and issueno &lt;= #{issueno}
      </if>
      <if test="columnValue != null and columnValue != ''" >
        and  <![CDATA[ ${columnName} ]]> = #{columnValue}
      </if>
    </where>
    )
    order by issueno desc limit 0,15;
  </select>


  <select id="sumSumValue" parameterType="map" resultType="com.jl.cp.dto.SumValueDTO">
    <![CDATA[
    SELECT
    MIN(b.SUM_VALUE) sumMinValue,
    MAX(b.SUM_VALUE) sumMaxValue,
    AVG(b.SUM_VALUE) sumAvgValue
    FROM
    (SELECT
    a.SUM_VALUE SUM_VALUE
    FROM
    (SELECT
    *
    FROM
    ssq_detail_info
    WHERE id IN
    (SELECT
    id + 1
    FROM
    `ssq_detail_info`
    WHERE SUM_VALUE >= #{minValue}
    AND SUM_VALUE <= ${maxValue} and issueno <= ${issueno})
    ORDER BY issueno DESC
    LIMIT 0, 15) a
    GROUP BY a.SUM_VALUE) b
    ORDER BY b.SUM_VALUE DESC
    ]]>
  </select>


  <select id="sumTailSumValue" parameterType="map" resultType="com.jl.cp.dto.SumValueDTO">
    <![CDATA[
    SELECT
      MIN(b.tail_sum_value) sumMinValue,
      MAX(b.tail_sum_value) sumMaxValue,
      AVG(b.tail_sum_value) sumAvgValue
    FROM
      (SELECT
        a.tail_sum_value tail_sum_value
      FROM
        (SELECT
          *
        FROM
          ssq_detail_info
        WHERE id IN
          (SELECT
            id + 1
          FROM
            `ssq_detail_info`
          WHERE tail_sum_value = ${maxValue} and issueno <= ${issueno} )
        ORDER BY issueno DESC
        LIMIT 0, 15) a
      GROUP BY a.tail_sum_value) b
    ORDER BY b.tail_sum_value DESC
    ]]>
  </select>


  <select id="getSanSectionList" parameterType="map" resultType="java.lang.String">
    <![CDATA[
    SELECT
      a.san_section
    FROM
      (SELECT
        *
      FROM
        ssq_detail_info
      WHERE id IN
        (SELECT
          id + 1
        FROM
          `ssq_detail_info`
        WHERE san_section = '${sanSection}' and issueno <= ${issueno})
      ORDER BY issueno DESC
      LIMIT 0, 20) a
    GROUP BY a.san_section
    ORDER BY issueno DESC limit 0,4
    ]]>
  </select>
</mapper>